<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MyFi</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Summary
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="expenses/personal">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Personal Expenses
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="expenses/shared">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Shared Expenses
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="expenses/recurring">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Recurring Expenses
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="savings">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Savings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="income">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Income
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monthend">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Month End
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

